* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    /* background colors  */
    --bg-primary-color: #303030;
    --bg-secondary-color: #0B0E14;
    --bg-fill-color: #39FF14;
    --bg-food-color: #ef233c;
    --bg-start-btn-color: #64e24d;
    --bg-restart-btn-color: #2fc2ae;


    /* text colors */
    --text-primary-color: #e4e4e4;
    --text-secondary-color: #bbbbbb;
    --text-tertiary-color:  #000000;
    --text-game-over-color: #ef233c;

    /* spacing variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-pxl: 48px;

    /* border color */
    --border-primary-color: #727272;
    --border-scondary-color: #555555;

    /* border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,
section {
    height: 100%;
    width: 100%;
}

.btn {
    padding: var(--space-md) var(--space-lg);
    border: none;
    border-radius: var(--border-radius-sm);
    color: var(--text-tertiary-color);
    font-size: minmax(16px, 1.5vw);
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: ease 0.3s;
    /* width: fit-content; */
}

.btn:hover {
    scale: 1.1;
}

section {
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

section .infos {
    display: flex;
    justify-content: space-between;
    gap: var(--space-lg);
}

section .infos .info {
    padding: var(--space-sm) var(--space-md);
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board {
    flex-grow: 1;
    border: 2px solid var(--border-primary-color);
    /* border-radius: var(--border-radius-md); */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}

.block {
    height: 30px;
    width: 30px;
    border: 1px solid var(--border-scondary-color);
    border-radius: 30%;  /* to make it circular */
}

.snake {
    background-color: var(--bg-fill-color);
}

.food {
    background-color: var(--bg-food-color);
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start-game ,
.modal .game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--space-lg);

}

.start-game h1 {
    font-size: minmax(24px, 3vw);
    text-transform: uppercase;
}

.start-game h3 {
    font-size: minmax(16px, 1.5vw);
    color: var(--text-secondary-color);
}

.start-game h4{
    font-size: minmax(18px, 2vw);
    text-decoration: underline;
}

.start-game p {
    font-size: minmax(14px, 1.2vw);
    color: var(--text-secondary-color);
}


.start-btn {
    background-color: var(--bg-start-btn-color);
}

.modal .game-over {
    display: none;
}
.game-over h1 {
    font-size: minmax(24px, 3vw);
    text-transform: uppercase;
    color: var(--text-game-over-color);
}

.game-over h3 {
    font-size: minmax(16px, 1.5vw);
    color: var(--text-secondary-color);
}

.restart-btn {
    background-color: var(--bg-food-color);
}