* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
}

:root {
    /* background colors  */
    --bg-color: #81818170;
    --bg-primary-color: #303030;
    --bg-secondary-color: #0B0E14;
    --bg-head-color: #19880f;
    --bg-fill-color: #39FF14;
    --bg-food-color: #ecef23;
    --bg-dangerous-food-color: #ff0000;
    --bg-bonus-food-color : #ffe600;
    --bg-start-btn-color: #64e24d;
    --bg-primary-mobile-btn-color: #a7c957;
    --bg-secondary-mobile-btn-color: #01fd33;
    --bg-easy-level-color: #7ce669;
    --bg-medium-level-color: #c3da5e;
    --bg-hard-level-color: #eb5353;


    /* text colors */
    --text-primary-color: #e4e4e4;
    --text-secondary-color: #bbbbbb;
    --text-tertiary-color: #000000;
    --text-game-over-color: #ef233c;

    /* spacing variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-pxl: 48px;

    /* border color */
    --border-primary-color: #727272;
    --border-scondary-color: #555555;
    --border-tertiary-color: #0a0a0a;
    --border-easy-level-color: #2bff00;
    --border-medium-level-color: #fbff00;
    --border-hard-level-color: #ff1414;

    /* border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,
section {
    height: 100%;
    width: 100%;
}

.btn {
    padding: var(--space-md) var(--space-lg);
    border: none;
    border-radius: var(--border-radius-sm);
    color: var(--text-tertiary-color);
    font-size: clamp(16px, 1.5vw, 20px);
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

/* ONLY apply hover effects for mouse users */
@media (hover: hover) {
    .btn:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
}

.mobile-btn {
    font-weight: 900;
    background-color: var(--bg-primary-mobile-btn-color);
    border: 2px solid var(--border-tertiary-color);
}

.mobile-btn:active {
    background-color: var(--bg-secondary-mobile-btn-color);
    transition: transform 0.3s ease;
}

.mobile-btn i {
    font-size: clamp(24px, 3vw, 40px);
}

section {
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

section .infos {
    display: flex;
    justify-content: space-between;
    gap: var(--space-lg);
}

section .infos .info {
    padding: var(--space-sm) var(--space-md);
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board {
    flex-grow: 1;
    border: 2px solid var(--border-primary-color);
    /* border-radius: var(--border-radius-md); */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
    touch-action: none;
    /* prevent default touch actions like scrolling */
}

.mobile-controls {
    display: none;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
}

.up-down {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.block {
    height: 30px;
    width: 30px;
    border: 1px solid var(--border-scondary-color);
    border-radius: 30%;
}

.snake {
    background-color: var(--bg-fill-color);
    transition: background-color 0.1s;
}

.snake-head {
    background-color: var(--bg-head-color);
    border: 2px solid var(--bg-fill-color);
    /* border-radius: 40%; */
}

.food {
    background-color: var(--bg-food-color);
}

.dangerous-food {
    background-color: var(--bg-dangerous-food-color);
}

.bonus-food {
  background-color: var(--bg-bonus-food-color);
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(248, 248, 144);
  animation: blink 0.5s infinite alternate;
}

@keyframes blink{
from{opacity:1;}
to{opacity:0.5;}
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start-game,
.modal .game-over ,
.modal .pause-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--space-lg);

}

.start-game h1 {
    font-size: clamp(24px, 3vw, 40px);
    text-transform: uppercase;
}

.start-game h3 {
    font-size: clamp(16px, 1.5vw, 20px);
    color: var(--text-secondary-color);
}

.start-game h4 {
    font-size: clamp(18px, 2vw, 24px);
    text-decoration: underline;
}

.start-game p {
    font-size: clamp(14px, 1.2vw, 16px);
    color: var(--text-secondary-color);
}

.pause-game h2 {
    font-size: clamp(24px, 3vw, 40px);
    text-transform: uppercase;
    color: var(--text-game-over-color);
}

.pause-game p {
    font-size: clamp(16px, 1.5vw, 20px);
    color: var(--text-secondary-color);
}

.levels {
    display: flex;
    gap: var(--space-2xl);
    padding: var(--space-lg);
}

.levels .easy {
    background-color: var(--bg-easy-level-color);
    border: 2px solid var(--border-easy-level-color);
}

.levels .medium {
    background-color: var(--bg-medium-level-color);
    border: 2px solid var(--border-medium-level-color);
}

.levels .hard {
    background-color: var(--bg-hard-level-color);
    border: 2px solid var(--border-hard-level-color);
}

.start-btn {
    background-color: var(--bg-start-btn-color);
}

.modal .game-over ,
.modal .pause-game {
    display: none;
}

.game-over h1 {
    font-size: clamp(24px, 3vw, 40px);
    text-transform: uppercase;
    color: var(--text-game-over-color);
}

.game-over h3 {
    font-size: clamp(16px, 1.5vw, 20px);
    color: var(--text-secondary-color);
}

.restart-btn {
    background-color: var(--bg-dangerous-food-color);
}

/* Show mobile buttons on touch devices only (screen size ≤ 768px) */
@media (max-width: 800px) {
    .mobile-controls {
        display: flex;
    }
}